{% extends "AccessBundle::admin_layout.html.twig" %}
{% block body %}
<div class="col-xs-11 col-md-10 main">
	<div class="breadcrumb">
	{{ knp_menu_render('breadcrumb',{'currentAsLink':false}) }}
	</div>
	<h2>Créer une nouvelle actualité</h2>
	<form method="post" novalidate>
		<p>
			{{ form_label(form.title, 'Titre :') }}
			{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.title) }}
		</p>

		<p>
			{{ form_label(form.content, 'Contenu :') }}
			{{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.content) }}
		</p>
		<input type="submit" value="valider" class="btn">
        {{ form_widget(form._token) }}
	</form>
</div>
{% endblock %}